@media screen and (max-width: 2xl) {
  body {
    font-size: 20px;
    line-height: 140%;
  }
}

@media screen and (max-width: xl) {
  body {
    font-size: 18px;
    line-height: 140%;
  }
}

@media screen and (max-width: large) {
  body {
    font-size: 16px;
    line-height: 140%;
  }
}

@media screen and (max-width: med) {
  body {
    font-size: 14px;
    line-height: 140%;
  }
}

@media screen and (max-width: sm) {
  body {
    font-size: 12px;
    line-height: 140%;
  }
}